body{
	border: 1px solid blue; /*Borde*/
	font-size: 16px; /*1em*/ /*Tamaño de fuente*/
	margin: 0 auto; /*Centrar*/
	max-width: 1024px; /*Tamaño*/
}
form{
	float: right; /*flota a la derecha*/
	margin-right: 20px; /*Acomoda  a la derecha*/
	margin-top: -40px; /*acomoda arribas*/
}
form input{ /*todos los input dentro del form*/
	border-radius: 5px; /*radius redondea*/
}
form input[type="button"]{ /*modifica el form del botón*/
	background: green; /*fondo verde*/
	color: white; /*letra blanca*/
}
header{
	background: #B3D8EB /*Color del header*/
}
header nav
{
	background: #0E6CB0;
	border-radius: 5px;
	padding: 2px 0px 2px 0px; /*relleno*/
	margin: 0 auto; 
	width: 99%; /*ancho*/
}
header nav ul li{
	color: white;
	display: inline-block; /*descativa la lista y la deja en una línea*/
	margin-right: 20px; /*separación de seccciones*/
}
#logo{
	margin-top: -150px;
}
#seccion01{
	/*border: 1px solid red;*/
	text-align: center;
}
#seccion01 article img{
		border: 5px solid rgba(150, 150, 150, 0.5);
		width: 98%;
		margin-top: 15px;
			
}
#seccion02 article{
	display: inline-block;
	vertical-align: top;
	width: 32.8%;

}
.unaSeccion, .otraSeccion {
	font-weight: bold;/*grueso de la letra y bold es negritaNegritas*/
	font-family: 'Merriweather Sans', sans-serif; /*tipo de letra*/
}
.unaSeccion{
	font-size: 4.5em;
	
}
.otraSeccion{
	font-size: 2.5em;

}
#seccion02 article input{
	color: blue;
}