body{
  font-size: 1em; /*Tamaño letra*/
  font-family: sans-serif; /*Tipo de letra*/
  width: 1024px; /*ancho*/
  height: 1024px; /*alto*/
  margin: 0 auto; /*centrar*/
}

header{
  border:1px solid white; /*borde y color*/
}

header nav{
  margin-top: 100px; /*margen del nav*/
}

header nav ul li{
  margin-left:  -20px; /*margen izq*/
  margin-right: 40px; /*margen der*/
  display: inline-block; /*quitar viñeta*/
}

#logo{
  float: left;
  position: absolute;
  margin-left: 20px; /*margen izq*/
}

.mitema{
  font-size: 1.5em;
  color: white;
  text-shadow: .5px .5px .5px black; /*Sombra al texto*/
  position: absolute;
  margin-top: 50px;
  margin-left: 10px;
}

#red3,#red2,#red1{
  float: right;
  margin-right: 10px;
  margin-top: 20px
}

.naranja1{
  background: #F6661D;
  display: block; /*bloquear pantalla*/
  border-radius: 10px;
  color: white;
  font-weight: bold; /*ancho de letra negrita*/
  padding: 1px; /*relleno*/
}

body section article{
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
}

#article1{ 
  width: 64%; /*ancho*/
  padding-left: 10px; /* relleno izqse sube el article*/
}

#slide{
  width: 100%; /*tamaño*/
  margin-top: 10px; /*margen de arriba*/
  border-bottom: 1px solid #D0D0D0; /*rayita*/
}

#slide img{
  width: 96% /*ancho imagen slide*/
}

#post{
  margin-top: 25px; /*quee tan arriba queda*/
  border-bottom: 1px solid #D0D0D0; /*rayita*/
  padding-right: 40px; /*relleno der*/
}

#post img{
  border: 7px solid rgba(150,150,150,0.5); /*borde cuadro*/
  vertical-align: middle;
  margin-right: 10px; /*espacio derecha*/
  margin-bottom: 10px; /*que tan abajo la rayita*/
  float: left;
}

.titulo{
  margin-left: 10px;
  font-size: 1.7em;
  font-weight: bold;
  color: gray;
}

.info{
  vertical-align: middle;
  box-shadow: 1px 1px 2px gray;
  border-radius: 7px;
  padding: 5px 150px 5px 10px;
  text-align: 
}

.datos{
  color: gray;
  font-style: italic;
}

#article1 input{ /*botonsillo*/
  padding: 7px;
  border-radius: 7px;
  font-style: italic;
  font-weight: bold;
  color: white;
  background-color: rgba(150,150,150,0.5);
}

#article2{
  max-width: 33%; /*ancho publicidad*/
}

#article2 article{
  width: 100%;
  margin-top: 20px;
  border: 1px solid #D0D0D0;
  border-radius: 10px;
  background-color: #FAFAFA;
}

.naranja{
  display: block;
  text-align: center;
  padding: 7px 0px;
  font-weight: bold;
  color: white;
  background-color: #F6661D;
  border-radius: 10px;
}

#a2a1{
  text-align: center;
}

.cajita{
  padding: 4px 4px 8px 4px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #D0D0D0;
}

#a2a1{
  text-align: center;
}
#a2a1 img{
  width: 48%;
}

#a2a2{
  text-align: center;
}

#a2a2 input{
  margin-top: 15px;
  padding: 1px 0px 1px 2px;
  width: 200px;
  border-radius: 50px;
  color: white;
  border: 1px solid #D0D0D0;
}

#a2a2 input[type="button"]{
  width: 35px;
  border: 1px solid gray;
  background-color: #BCBCBC;
}

#a2a3{
  padding-right: -20px;
}

#a2a3 ul li{
  width: 85%;
  margin: 5px 0;
  padding-bottom: 2px;
  border-bottom-style: dotted;
  border-width: 1px;
  padding-right: 20px;
}

::-webkit-input-placeholder  {
  color:black;
}

